.container div {
  display: flex;
  padding: 0px 10px 15px 10px;
}

div, img, p, h2 {
  padding-left: 5px;
  padding-right: 5px;
}

div div {
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1920px) {
  .containerLefth {
    display: flex;
    flex-direction: row;
  }
  .containerRight {
    display: flex;
    flex-direction: row-reverse;
  }
  .container div img {
    width: 650px;
    height: 500px;
  }
  .header-responsive {
    visibility: hidden;
  }
}
@media screen and (max-width: 480px) {
  .containerLefth {
    display: flex;
    flex-direction: column;
  }
  .containerRight {
    display: flex;
    flex-direction: column;
  }
  .navDeskt {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .header-responsive {
    visibility: visible;
    width: 200px;
    max-height: 150px;
  }
  ul li {
    padding: 1rem;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    text-decoration-color: black;
    text-transform: capitalize;
  }
  a {
    font-size: 15px;
  }
  .img-biografias {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .containerLefth {
    display: flex;
    flex-direction: row;
  }
  .containerRight {
    display: flex;
    flex-direction: row-reverse;
  }
  .container img {
    width: 400px;
    height: 500px;
  }
  .header-responsive {
    visibility: visible;
  }
  .navDeskt {
    visibility: hidden;
    width: 0%;
  }
  .homeFlex {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .img-biografias {
    width: 100%;
  }
}
.animate__animated {
  animation-iteration-count: infinite;
}

/*configuracion de html*/
html {
  font-size: 62.5%;
  /*YA NO ES EL 100%*/
}

p {
  font-size: 1.3rem;
  /*YA NO ES 16PX*/
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

h2 {
  text-align: left;
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

footer {
  background-color: #E8E8E8;
}

header {
  background-color: #E8E8E8;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  text-decoration: none;
  color: red;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  text-decoration: none;
  list-style: none;
}

.img-biografias {
  width: 400px;
}

.container div {
  display: flex;
}

div div {
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  flex-direction: row;
}

ul li {
  padding: 1rem;
  font-size: 15px;
  text-transform: capitalize;
}

a {
  font-size: 15px;
}

.homeFlex {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.homeTitle {
  padding: 25px 0 25px 0;
}

.centerDiv {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.centerDiv p {
  text-align: center;
}

.titulo2 {
  font-size: 3rem;
  padding: 15px 0 15px 0;
}

h1,
h2,
p,
li {
  font-family: "Prompt";
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
