@media screen and (max-width:1920px) {
    .containerLefth{
        display: flex;
        flex-direction: row;
    }
    .containerRight{
        display: flex;
        flex-direction: row-reverse;
    }
    .container div img{
        width: 650px;
        height: 500px;
    }

    .header-responsive {
        visibility: hidden;
        
    }
}

@media screen and (max-width: 480px) {
    .containerLefth{
        display: flex;
        flex-direction: column;
    }
    .containerRight{
        display: flex;
        flex-direction: column;
    }

    .navDeskt {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .header-responsive {

    visibility: visible;
    width: 200px;
    max-height: 150px;
}
ul li {
   
    padding: 1rem;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
 
    text-decoration-color: black;
    text-transform: capitalize;
}
a {
    font-size: 15px;
 
}
.img-biografias{
    width: 100%;
}
}

@media screen and (max-width: 540px){
    .containerLefth{
        display: flex;
        flex-direction: row;
    }
    .containerRight{
        display: flex;
        flex-direction: row-reverse;
    }
    .container  img{
        width: 400px;
        height: 500px;
    }


    .header-responsive {
        visibility: visible;

    }
    .navDeskt{
        visibility: hidden;
        width: 0%;
    }
    .homeFlex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .img-biografias{
        width: 100%;
    }
}